# ========================
# Django settings
# ========================
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,*

# ========================
# Database
# ========================
DATABASE_URL=sqlite:///db.sqlite3

# ========================
# Eventee API
# ========================
EVENTEE_API_TOKEN=

# ========================
# Logging
# ========================
LOG_LEVEL=INFO

# ========================
# Security settings
# ========================
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# ========================
# Authentication
# ========================
DISABLE_AUTH=True  # Set to False to enable authentication (default user: TBM, password: TBM)

# ========================
# Rate limiting
# ========================
RATELIMIT_ENABLE=True
RATELIMIT_USE_CACHE=default
