Django==5.2.12
Pillow==10.4.0
django-sslserver==0.22
requests==2.32.5
python-dotenv==1.0.0
django-ratelimit==4.1.0
qrcode==7.4.2
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
pywin32==306 ; sys_platform == 'win32'
pandas>=2.0
openpyxl>=3.1
