{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventTicket Manager </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <!-- Bootstrap Bundle JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'tickets:index' %}">TicketBadgeManager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tickets:scanner1' %}">Scanner 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tickets:scanner2' %}">Scanner 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tickets:ticket_list' %}">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tickets:import_page' %}">Import</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tickets:settings' %}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tickets:ticket_log_list' %}">Logs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <!-- Bootstrap Bundle JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>